body{
	margin: 0;
}

.a_top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center; /*글씨 중간 정렬*/
	width: 99%;
	height: 50px;
	gap: 10px;
	margin-top: 20px;
	.item{
		display: grid;
		place-items: center; /*글씨 중간 정렬*/
		font-size: 20px;
		width: 100%;
		height: 100%;
		margin-left: 20px;
	}
}

.active{
	border: 3px solid #f1290f;
}

.update-player, .update-goods{
    text-align: right;
    button{
        background-color: #ffffff;
        border: 1px solid #000000;
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 10px;
    }
}

.addplayer-box, .addgoods-box, .updateplayer-box, .updategoods-box{
    text-align: center;
    margin-top: 20px;
}

.addplayer-item, .addgoods-item, .updateplayer-item, .updategoods-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
    input{
        border-radius: 10px;
    	border: 1px solid #121212;
    	height: 40px;
    	padding: 0 10px;
    }
    input[type='submit'], input[type='button']{
    	width: 120px;
    	height: 40px;
    	background: transparent;
    	cursor: pointer;
    }
    select{
    	height: 40px;
    	padding: 0 10px;
    }
    .label{
    	flex: 0 1 80px;
    	text-align: left;
    }
    .input, div, select{
    	flex: 0 1 400px;
    }
}

.addgoods-item:first-child, .updategoods-item:first-child{
	margin-bottom: 20px;
}

.file-box .upload-file {
    height: 40px;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid #121212;
    width: 390px;
    color: #999999;
    position: relative;
}

.file-box #file-label {
	position: absolute;
    padding: 20px;
    vertical-align: middle;
    cursor: pointer;
    height: auto;
    border-radius: 10px;
    background-image: url(".././images/fileLink_img.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -41px;
    margin-top: 11px;
}

.file-box input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.write-btn {
    width: 88%;
    text-align: right;
    margin: 30px;
    button{
        width: auto;
        height: 40px;
        font-size: 20px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        cursor: pointer;
    }
}

.table-list{
	colgroup{
            .size01{
                width: 10%;
            }
            .size02{
                width: 53%;
            }
            .size03{
                width: 15%;
            }
            .size04{
                width: 10%;
            }
            .size05{
                width: 7%;
            }
            .size06{
                width: 7%;
            }
        }
    input[type="checkbox"]{
        width: 15px;
        height: 15px;
        margin: 5px 10px 0 0;
    }
}

.insert-goods{
	float: right;
	button{
        width: 80px;
        height: 35px;
        font-size: 20px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        margin: 10px;
		text-align: center;
    }
}

.menu-item:nth-child(2){
	border-left: none;
}