body{
	margin: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease;
}

#background .b_wrap {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	> img {
		width: 101vw;
		height: auto;
	}
}

/* 팝업 기본 스타일 */
.popup-background {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

.popup {
    width: 800px; /* 팝업의 넓이를 이미지처럼 줄입니다 */
    height: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
}

.player-info-box, .goods-info-box {
	width: 60%;	
	height: auto;
}

.coach-info-box {
	width: 90%;
	> form {
		display: flex;
		justify-content: center;
	}
}

.addplayer-box, .updateplayer-box, .addgoods-box, .updategoods-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

.addplayer-item	{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    > label {
    	font-size: 20px;
    }
}

.addcoach-item	{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    > label {
    	font-size: 20px;
    	margin-right: 10px;
    }
    
    > input {
    	width: 90%;
    }
}

.updateplayer-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    > label {
    	font-size: 20px;
    }
    > input  {
		padding: 10px;
		width: 100%;
		height: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 14px;
		margin: 0px 0px 10px 0px;
	}
}

.addcoach-group {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center
}

.addgoods-item ,updategoods-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    > label {
    	font-size: 20px;
    	width: 140px;
    }
    > input  {
		padding: 10px;
		width: 100%;
		height: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 14px;
		margin: 0px 0px 10px 0px;
	}
	> select{
    	height: 40px;
    	padding: 0 10px;
    	flex: 0 1 450px;
    	border-color: #ccc;
    	border-radius: 5px; 
    }
}

label {
	width: 120px;
	margin-right: 40px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input {
    padding: 10px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* 이미지 박스 스타일 */
.file-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.file-box img {
	width: 180px;
    height: 240px;
    object-fit: cover; /* 이미지를 프레임에 맞추어 채움 */
    border: 1px solid #ccc;
}

#image_container {
	width: 180px;
    height: 240px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    align-items: center;
    margin-bottom: 30px;
}

#image_container img {
	width: 180px;
    height: 240px;
    object-fit: cover; /* 이미지를 프레임에 맞추어 채움 */
}

.file-box input[type="file"] {
    display: none; /* 파일 입력 숨김 */
}

#file-label {
    display: inline-block;
	width: 160px;
    margin-right: 0px;
    padding: 8px 12px;
    background-color: #D9D9D9;
    color: #767676;
    cursor: pointer;
    text-align: center;
}

/* 버튼 스타일 */
.addplayer-item input[type="button"], .updateplayer-item input[type="button"], .addgoods-item input[type="button"], .addcoach-item input[type="button"], .addcoach-item input[type="submit"]  {
    height: 50px;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.addplayer-item input[type="button"]:first-child, .updateplayer-item input[type="button"]:first-child, .addgoods-item input[type="button"]:first-child, .addcoach-item input[type="button"]:first-child {
    background-color: #fff;
    color: #000;
}

.addplayer-item input[type="button"]:last-child, .updateplayer-item input[type="button"]:last-child, .addgoods-item input[type="button"]:last-child, .addcoach-item input[type="submit"]:last-child {
    background-color: #000;
    color: #fff;
}

/* input_box의 입력 중 효과 */
.player-info-box input:focus, .goods-info-box input:focus, .goods-info-box select:focus, .coach-info-box input:focus {
  border-color: #807e7e;
  outline: none;
  box-shadow: 0 0 8px rgba(150, 149, 149, 0.5);
}

.player-info-box input[type="button"]:hover, .goods-info-box input[type="button"]:hover, .coach-info-box input[type="button"]:hover {
  outline: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.active{
	border: 3px solid #f1290f;
}

 .update-player, .update-goods{
    text-align: right;
    button{
        background-color: #ffffff;
        border: 1px solid #000000;
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 10px;
    }
}

.insert-goods{
	float: right;
	button{
        width: 80px;
        height: 35px;
        font-size: 20px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        margin: 10px;
		text-align: center;
    }
}

.menu-item:nth-child(2){
	border-left: none;
}
/*
.addplayer-box, .addgoods-box, .updateplayer-box, .updategoods-box{
    text-align: center;
    margin-top: 20px;
}

.addplayer-item, .addgoods-item, .updateplayer-item, .updategoods-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
    input{
        border-radius: 10px;
    	border: 1px solid #121212;
    	height: 40px;
    	padding: 0 10px;
    }
    input[type='submit'], input[type='button']{
    	width: 120px;
    	height: 40px;
    	background: transparent;
    	cursor: pointer;
    }
    select{
    	height: 40px;
    	padding: 0 10px;
    }
    .label{
    	flex: 0 1 80px;
    	text-align: left;
    }
    .input, div, select{
    	flex: 0 1 400px;
    }
}

.addgoods-item:first-child, .updategoods-item:first-child{
	margin-bottom: 20px;
}

.file-box .upload-file {
    height: 40px;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid #121212;
    width: 390px;
    color: #999999;
    position: relative;
}

.file-box #file-label {
	position: absolute;
    padding: 20px;
    vertical-align: middle;
    cursor: pointer;
    height: auto;
    border-radius: 10px;
    background-image: url(".././images/fileLink_img.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -41px;
    margin-top: 11px;
}

.file-box input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.write-btn {
    width: 88%;
    text-align: right;
    margin: 30px;
    button{
        width: auto;
        height: 40px;
        font-size: 20px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        cursor: pointer;
    }
}

.table-list{
	colgroup{
            .size01{
                width: 10%;
            }
            .size02{
                width: 53%;
            }
            .size03{
                width: 15%;
            }
            .size04{
                width: 10%;
            }
            .size05{
                width: 7%;
            }
            .size06{
                width: 7%;
            }
        }
    input[type="checkbox"]{
        width: 15px;
        height: 15px;
        margin: 5px 10px 0 0;
    }
}
 */