.a_top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center; /*글씨 중간 정렬*/
	height: 50px;
	gap: 1px;
	margin-top: 20px;
}

.active{
    img{
        border: 3px solid #f1290f;
    }
}

.update-player{
    text-align: right;
    button{
        background-color: #ffffff;
        border: 1px solid #000000;
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 10px;
    }
}

.addplayer-box{
    text-align: center;
    margin-top: 20px;
}

.addplayer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
    input{
        border-radius: 10px;
    	border: 1px solid #121212;
    	height: 40px;
    	padding: 0 10px;
    }
    input[type='submit'], input[type='button']{
    	width: 120px;
    	height: 40px;
    	background: transparent;
    }
    .label{
    	flex: 0 1 80px;
    	text-align: left;
    }
    .input, div{
    	flex: 0 1 400px;
    }
}

.file-box .upload-file {
    height: 40px;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid #121212;
    width: 390px;
    color: #999999;
    position: relative;
}

.file-box #file-label {
	position: absolute;
    padding: 20px;
    vertical-align: middle;
    cursor: pointer;
    height: auto;
    border-radius: 10px;
    background-image: url(".././images/fileLink_img.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -41px;
    margin-top: 11px;
}

.file-box input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}