@charset "UTF-8";
.hamburger {
  height: 30px;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    position: relative; /* 상대 위치 */
    z-index: 20; /* 메뉴보다 높은 z-index */
    cursor: pointer;
}
  
.hamburger div {
  background-color: #fff;
  position: relative;
  width: 30px;
  height: 2px;
  margin-top: 7px;
  transition: all 0.2s ease-in-out;
  border-radius: 35px;
}
  
#toggle {
  display: none;
}
  
#toggle:checked + .hamburger .top {
  transform: rotate(45deg);
  margin-top: 22.5px;
}
  
#toggle:checked + .hamburger .middle {
  transform: rotate(-45deg);
  margin-top: -2px;
}
  
#toggle:checked + .hamburger .bottom {
  transform: scale(0);
}

.menu{
	display: none;
	position: absolute; /* z-index에 반응하게 함 */
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 89%);
    width: 100%;
    height: 100%;
    top: -150%;
    right: 0;
    padding-top: 130px;
    padding-left: 0;
    padding-right: 0;
    z-index: 12;
	text-align: center;
	font-weight: bold;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
    ul, li, a{
        color: white;
        list-style: none;
        text-decoration: none;
        padding: 0;
        margin-bottom: 5px;
    }
    .menu-list>li:first-child{
      background-color: transparent;
      margin-top: 0;
      padding: 0 10px 0 10px;
    }
    li:hover{
    	background-color: none;
    }
}

.menu-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
}

.menu-item{
    border-left: 1px solid #ffffff;
    font-size: 24px;
    li{
    	padding: 10px;
    	font-weight: lighter;
    	font-size: 20px;
    }
}

.menu-item:nth-child(5n+1){
	border-left: none;
}

.menu.open {
  top: 0; /* 메뉴를 보이게 함 */
  display: block;
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.t_header{
	margin: 0 50px;
	span{
		color: #fff;
	}
}