body {
    margin: 0;
    background-color: lightgrey;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

button {
    cursor: pointer;
}

.reserve-detail {
    width: 800px;
    margin: 50px auto; /* 페이지 중앙 정렬 */
}

.reserve-info-section, .reserve-detail-section {
    margin: 50px auto;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
}

.reserve-info-header {
    padding-bottom: 30px;
    text-align: left; /* 제목 중앙 정렬 */
    font-weight: bold;
}


.reserve-info-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-top: 2px solid #48494a;
}

.reserve-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 주문번호와 호텔 이름을 세로로 정렬 */
.order-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}

.order-number {
	font-weight: bold;
	margin-bottom: 10px;
}

.order-name {
    font-size: 18px;
}

.price-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.reserve-price {
	font-size: 25px;
    font-weight: bold;
}

.reserve-method {
	font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

/* 결제 상태 및 취소 버튼을 세로로 정렬 */
.status-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* 결제 완료와 결제 취소 버튼을 가로로 정렬 */
.complete-cancel {
    display: flex;
    align-items: center;
}

.reserve-complete {
	color: #F16E1E;
	font-weight: bold;
	margin-bottom: 3px;
	margin-right: 15px;
}

.reserve-cancel {
	padding: 1px 10px;
	background-color: white;
	border: 1px solid black; 
}

/* 결제 취소 관련 메시지 스타일 */
.cancel-info {
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 13px;
}

th {
    font-weight: normal;
    background-color: #f2f2f2;
}

td {
    text-align: left;
    padding-left: 20px;
}

.item-row td {
    text-align: left;
}

.reserve-total-price {
    margin-top: 40px;
	text-align: right;
	> .text {
	margin-right: 20px;
	font-weight: normal;
	}
	> span {
		font-size: 25px;
		font-weight: bold;
	}
}

