@charset "UTF-8";

#secondScreen {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh; /* 화면 높이에 맞춰서 조정 */
    background-color: transparent;
    z-index: 1; 
    transition: transform 1s ease-out;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#textContainer span{
	color: #ffffff;
}

.logo{
	position: absolute;
    top: 5%; /* 화면의 위쪽에서 8% */
    left: 2%; /* 화면의 왼쪽에서 0% */
    z-index: 2;
	#logo_img {
		width: 200px;
	}
}

#background {
    display: block; /* 처음에 헤더는 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease;
}

#background .b_wrap {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
		filter: brightness(60%)
	}
}

#header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.5s ease;
}

#campaign .c_marquee {
	position: relative;
}

.area01 {
	padding: 300px 0;
}

#wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

#campaign .c_hero {
	position: relative;
	z-index: 100;
	width: 100vw;
	padding-bottom: 350px;
}

#campaign {
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	width: 100%;
}

#campaign>section {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 100%;
}

#campaign .c_marquee .cm_wrap {
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#campaign .c_marquee .cm_wrap.t2 {
	position: relative;
}

#campaign .c_marquee .marquee, #campaign .c_marquee .marqueereverse {
	position: absolute;
	display: inline-block;
	white-space: nowrap;
	background: none;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 200px;
	font-weight: 900;
	line-height: 180px;
	color: transparent;
	-webkit-text-stroke: #fff 1px;
}

#campaign .c_marquee .marquee {
	animation: slidemarquee 120s linear infinite;
}

#campaign .c_marquee .marquee.t1 {
	animation-delay: -60s;
}

#campaign .c_marquee .marqueereverse {
	color: #fff;
	animation: slidereversemarquee 120s linear infinite;
}

#campaign .c_marquee .marquee, #campaign .c_marquee .marqueereverse {
	font-size: 90px;
	line-height: 80px;
}

#campaign .c_marquee .marqueereverse.t1 {
	animation-delay: -60s;
}

@keyframes slidemarquee { 
	0% {transform: translateX(100%);}
	100%{transform: translateX(-100%);}
}

@keyframes slidereversemarquee { 
	0% {transform: translateX(-100%);}
	100%{transform: translateX(100%);}
}

#campaign .c_hero .c_marquee {
	transform: rotate(-8deg);
}

#campaign .c_marquee .cm_wrap {
	height: 140px;
}

#campaign .c_marquee .marquee, #campaign .c_marquee .marqueereverse {
	font-size: 160px;
	line-height: 140px;
}																																																																																									

#campaign .c_hero {
    padding-top: 300px;
    padding-bottom: 350px;
    position: fixed;
    top: 35px; /* 위치 보정용 */
    z-index: 1;
}

#campaign .c_hero .ch_title {
	top: -101px;
}

#campaign .c_hero .ch_title span {
	height: 80px;
	font-size: 60px;
	line-height: 90px;
}

@keyframes slidemarquee { 
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}

@keyframes slidereversemarquee { 
	0% { transform: translateX(-100%); }
	100% { transform: translateX(100%); }
}

.hamburger{
	float: right;
    right: 5%;
}