@font-face {
	font-family: 'BMJUA';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

body, input, button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}	

#logo_img {
	width: 200px;
}

#league_logo_img {
	width: 150px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center; /*글씨 중간 정렬*/
	height: 50px;
	gap: 1px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px;
	height: 80px; /* 헤더 높이 */
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header-view{
	display: flex;
	justify-content: end;
	align-items: center;
	height: 80px; /* 헤더 높이 */
	position: relative;
	.item {
		display: grid;
		place-items: center; /*글씨 중간 정렬*/
		font-size: 20px;
		width: auto;
		margin-left: 20px;
		a{
			color: #000000;
			margin-left: 10px;
		}
		img{
			width: 30px;
			vertical-align: middle;
			margin-right: 5px;
		}
	}
}

.login_main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 30px;
	font-size: 20px;
}

.login_button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login_button>button {
	font-size: 20px;
	width: 130px;
	height: 40px;
	margin-top: 20px;
	background-color: #767676;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.input_label>button {
	font-size: 18px;
	width: 80px;
	height: 30px;
	background-color: #ffffff;
	color: #236FB5;
	border: 1px solid #236FB5;
	border-radius: 8px;
	cursor: pointer;
}

input {
	width: 300px;
	height: 20px;
	margin: 10px 0px 20px 0px;
	padding: 5px;
	font-size: 16px;
}

#zipcode {
	margin: 10px 0px 0px 0px;
	width: 100px;
}

#address {
	margin: 10px 0px 0px 0px;
	width: 180px;
}

.input_label {
	font-size: 24px;
}

.team_logo_img {
	width: 50px;
  	margin-right: 30px;
}

.league_info {
	display: inline;
	text-align: center;
	a{
		margin: 50px;
	}
	ul, li {
		list-style: none;
		display: inline-block;
		padding-left: 0px;
		a{
			margin: 0 10px 0 10px;
		}
		img{
			width: 60px;
		}
	}
}

.t_top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	place-items: center; /*글씨 중간 정렬*/
	height: 50px;
	gap: 1px;
	margin-top: 20px;
}

.u_top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center; /* 글씨 중간 정렬 */
	width: 100%;
	height: 40px;
	gap: 1px;
	margin: 40px auto 0 auto; /* 상단 마진 40px, 좌우 중앙 정렬 */
	margin-bottom: 40px;
}
.p_top {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10%, auto));
	place-items: center; /* 글씨 중간 정렬 */
	width: 100%;
	height: 40px;
	gap: 1px;
	margin-bottom: 40px;
}

.highlight-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    bottom: 0;
}

.highlight-box{
  width: 560px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
  margin-bottom: 50px;
  font-size: 18px;
  .info-box{
    height: 82px;
  }
  span{
    padding: 10px;
    font-weight: 500;
  }
}

.rank-table {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #c2c2c2;
}

thead {
	background-color: #EBF2FF;
	font-size: 20px;
}

td, th {
	border: 1px solid #c2c2c2;
	padding: 10px;
}

tbody{
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    height: 60px;
	font-size: 18px;
    td>img{
        width: 50px;
        vertical-align: middle;
        margin-right: 4px;
    }
    span{
      display: inline-block;
      margin-right: 30px;
      img{
        width: 50px;
        vertical-align: middle;
        margin-right: 4px;
      }
	}
	.team2{
		margin: 0;
	}
}

.highlight-container {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	bottom: 0;
}

.highlight-box {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
		0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
	margin-bottom: 50px;
	font-size: 18px;
	span
	{
	font-weight
	:
	500;
}

}
.select-box {
	float: right;
	margin: 10px;
}

.select {
	font-size: 18px;
	width: 100px;
	height: 30px;
	background-color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.login-signup-box{
  float: right;
  margin-top: 40px;
  margin-right: 10px;
  font-size: 20px;
  ul>li::after{
    content: " | ";
  }
  ul>li:last-child::after{
    content: "";
  }
}

#sub_wrap {
	width: 1024px;
	margin: 0 auto;
	padding: 0 0 80px 0;
}

.players-section {
	margin: 0 auto 40px auto;
	width: 100%;
}

.position-title {
	font-size: 24px;
	color: black;
	margin-top: 40px;
	margin-bottom: 10px;
}

.players-list, .coach-List {
	display: flex;
	gap: 30px; /* 사진 간격 설정 */
}

.player-card, .coach-card {
	display: inline-block;
	position: relative; /* 부모 요소에 상대 위치를 지정 */
	flex-wrap: wrap; /* 화면 크기에 따라 줄바꿈되도록 설정 */
	width: 180px;
	height: 240px;
	overflow: hidden; /* 자식 요소가 부모 영역을 넘어가지 않도록 설정 */
	margin: 10px;
}

.player-photo, .coach-photo {
	width: 100%;
	height: 100%; /* 사진 크기를 부모 요소에 맞춤 */
	object-fit: cover; /* 사진 크기에 맞게 잘라내기 */
}

.player-name, .coach-name {
	width: 100%;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 12px 0;
	background: rgba(0, 0, 0, 0.5); /* 배경 반투명 검정 */
	color: #ffffff;
}

.player-name, .coach-name span {
	color: #ffc029;
	margin-right: 8px;
}

.stadium-intro {
	width: 1024px;
	height: 100%;
	margin: 40px auto 40px auto; /* 가운데 정렬을 위해 좌우 마진 자동 설정 */
	display: flex; /* Flexbox를 사용하여 내부 요소 정렬 */
	align-items: flex-start; /* 내부 요소들을 위쪽에 정렬 */
}

.stadium-img {
	flex: 0 0 auto; /* 고정 너비 요소로 설정 */
	margin-right: 100px; /* 오른쪽에 여백 추가 */
}

.stadium-info {
	flex: 1; /* 남은 공간을 채우도록 설정 */
	display: flex; /* Flexbox를 사용하여 내부 텍스트 정렬 */
	flex-direction: column; /* 세로 방향으로 정렬 */
	justify-content: center; /* 수직 중앙 정렬 */
	margin-top: 100px;
}

.stadium-text {
	font-size: 15px;
}

.climate-info {
	display: flex; /* Flexbox를 사용하여 내부 텍스트 정렬 */
	flex-direction: column; /* 세로 방향으로 정렬 */
	justify-content: center; /* 수직 중앙 정렬 */
	margin-top: 50px;
}

.climate-button {
	font-size: 30px;
	color: #fff;
	width: 300px;
	height: 50px;
	background-color: #236FB5;
	border: none;
	cursor: pointer;
}

#ulsan_stadium {
	display: block; /* 이미지를 블록 요소로 설정하여 좌측 정렬 유지 */
	width: 600px;
}

.img-box {
	display: inline-block;
	position: absolute;
	left: 50%;
	img	{
	width:100px;
	}
}

.team-info-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div{
    margin-top: 50px;
    width: 1024px;
    text-align: center;
    span{
      font-size: 30px;
    }
    img{
      width: 1024px;
      margin-top: 20px;
    }
    
    .ulsan-E{
      border: none;
    }

    .ulsan-U{
      border: none;
    }
  }
}

.h_top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 50px;
  gap: 1px;
  margin-top: 20px;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  input{
    width: 500px;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
  }
  button{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
	width: 50px;
    img{
      width: 30px;
    }
  }
}

.search-menu-box{
  /* border: 2px solid #9e9e9e; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-box, .food-box{
	font-family: 'NanumSquareNeo';
	display: flex;
	grid-template-columns: auto 1fr;
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hotel-img, .food-img{
  width: 40%;  
    height: 300px; 
    border-radius: 10px 0 0 10px;
    overflow: hidden; /* 이미지가 박스 범위를 넘지 않도록 설정 */
    img {
        width: 100%; /* 이미지 너비 100% */
        height: auto; /* 비율 유지 */
        max-height: 100%; /* 최대 높이 설정 */
        display: block; /* 여백 없애기 */
    }
}

.hotel-info-box, .food-info-box{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-left: 50px;
}

.info-item:nth-child(1){
	margin-top: 5px;
}

.info-item:nth-child(2){
	font-family: 'NanumSquareNeoBold';
    font-size: 22px;
    width: auto; /* 자동 크기 */
    text-align: center;
}

.show-location{
	font-family: 'NanumSquareNeoExtraBold';
	border: none;
	background-color: #ffffff;
	margin-top: 25px;
	cursor: pointer;
	font-size: 16px;
	img{
		width: 40px;
		height: 40px;
		vertical-align: middle;
	}
}



.goods-section {
  width: 1260px;
  height: 100%;
  margin: 40px auto; /* 좌우 가운데 정렬 */
  display: block; /* 블록 레이아웃으로 변경하여 자식 요소가 아래로 쌓이도록 설정 */
}

.selected-item {
    background-color: #083660 !important;  /* 선택된 버튼의 색상 */
}

.selectBox2 * {
	box-sizing: border-box;
	z-index: 5;
}

.selectBox2 {
	position: relative;
	width: 200px;
	height: 35px;
	border-radius: 4px;
	border: 2px solid #236FB5;
	background:
		url('https://img.icons8.com/?size=100&id=99977&format=png&color=000000')
		calc(100% - 7px) center no-repeat;
	background-size: 20px;
	cursor: pointer;
}

.selectBox2:after {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 35px;
	background: #236FB5;
}

.selectBox2 .label {
	text-align: center;
	display: flex;
	align-items: center;
	width: inherit;
	height: inherit;
	border: 0 none;
	outline: 0 none;
	padding-left: 15px;
	background: transparent;
	cursor: pointer;
}

.selectBox2 .optionList {
	position: absolute;
	top: 28px;
	left: 0;
	width: 100%;
	background: rgba(35, 111, 181);
	color: #fff;
	list-style-type: none;
	padding: 0;
	border-radius: 6px;
	max-height: 0;
	transition: .2s ease-in;
	overflow: hidden;
}

.optionList{
	text-align: center;
	display: flex; 
	align-content: flex-start; 
	flex-direction: column; 
	flex-wrap: wrap
}


.selectBox2.active .optionList {
	max-height: 500px;
}

.selectBox2 .optionItem {
	border-bottom: 1px dashed #083660;
	padding: 5px 15px 5px;
	transition: .1s;
	width: 100%;
}

.selectBox2 .optionItem:hover {
	background: rgba(8, 54, 96);
}

.selectBox2 .optionItem:last-child {
	border-bottom: 0 none;
}

.selectBox2 .optionList::-webkit-scrollbar {
	width: 6px;
}

.selectBox2 .optionList::-webkit-scrollbar-track {
	background: transparent;
}

.selectBox2 .optionList::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 45px;
}

.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {
	background: #303030;
}

.goods-list {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap; /* 화면 크기에 따라 줄바꿈되도록 설정 */
	gap: 35px; /* 사진 간격 설정 */
}

.goods-card {
    position: relative;
    width: 180px;
    display: flex;
    flex-direction: column; /* 세로 방향으로 자식 요소 배치 */
    overflow: hidden;
    display: inline-block; /* 이 설정을 추가하여 카드들이 블록 요소로 배치되지 않도록 함 */
    vertical-align: top; /* 세로 정렬을 맞추어 간격 없이 배치되도록 함 */
    margin: 0; /* 필요하다면 기존 margin 값을 조정하여 간격을 없앰 */
    padding: 0;
}

.goods-photo {
    width: 100%;
    height: 80%; /* 사진이 부모 요소의 80%를 차지 */
    object-fit: cover;
}

.goods-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column; /* 상품명을 세로 배치 */
    justify-content: space-between;
}

.goods-name {
    font-size: 13px;
    text-align: center;
    padding: 4px 0;
}

.price-and-cart {
    display: flex;
    justify-content: center; /* 가격과 장바구니 버튼을 가로로 배치 */
    align-items: flex-start;
}

.goods-price {
    font-size: 13px;
    color: black;
}

.add-to-cart {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    > img {
    	width: 16px;
    }
}

.cart {
	float: right;
	width: 30px;
	margin-top: 50px;
	margin-right: 30px;
}

.cart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px; /* 헤더 높이 */
    background-color: #f8f8f8;
    position: relative;
}

.ulsanHD_logo img {
    max-height: 100%; /* 헤더 높이에 맞춰 로고 높이 설정 */
    max-width: 200px; /* 너비 제한 */
    height: auto; /* 비율에 맞춰 높이 조정 */
    object-fit: contain; /* 이미지 비율 유지 */
}

.shopping_cart {
    width: 30px; /* 장바구니 아이콘 크기 */
    height: 30px; /* 아이콘 높이 */
}

.date-box{
	margin-left: 10px;
	font-size: 20px;
}

.date-box input{
	border: 1px	solid #888888;
	border-radius: 10px;
	padding: 5px;
	margin-left: 10px;
	width: 150px;
	font-size: 20px;
}

.service{
	img{
		width: 30px;
	}
}

.footer{
	text-align: center;
	margin-top: 5%;
	input{
		width: 80px;
		height: 32px;
		font-size: 20px;
		background-color: #ffffff;
		border: 1px solid #888888;
		border-radius: 10px;
		cursor: pointer;
	}
}

/* Chrome, Safari, Edge, Opera -> input number 타입 우측 화살표 없앰 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal{
	display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

.modal-popup {
	/*팝업*/
	font-family: 'NanumSquareNeo';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	background: #ffffff;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
}

.close-btn, .reserve-btn {
	font-family: 'NanumSquareNeobold';
	font-size: 18px;
    padding: 10px 20px;
    background-color: #236FB5;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.modal-header{
	text-align: center;
}

.modal-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	input{
		margin: 10px;
	}
	select{
		margin: 10px;
		width: 314px;
		height: 34px;
	}
	button{
		width: 40px;
		background-color: #ffffff;
		border: none;
		cursor: pointer;
	}
}

.paytype-box{
	width: 350px;
	margin: 10px;
	button{
		width: 80px;
		height: 30px;
		border: 1px solid #236FB5;
	}
}

.reserve-box{
	margin-top: 10px;
}